.box1{
    height: 100vh;
    width: 30vw;
    background-color: rgb(157, 195, 230);
    text-align: center;
    float: left;
}
.anh{
    height:20vw;
    width: 20vw;
    border-radius: 50%;
    margin-top: 50px;
}
.phone{
    height: 25px;
    width: 20px;
    text-align: left;
    float: left;
}
.phone-number{
    text-align: left;
    height: 25px;
    width: 175px;
    margin-left:5px;
}
.address{
    text-align: left;
    height: 25px;
    width: 400px;
    
}
.address-pic{
    height: 30px;
    width: 30px;
    float: left;
}
.gmail{
    text-align: left;
    height: 25px;
    width: 400px;
    margin-left:5px;
}
.mail{
    height: 25px;
    width: 25px;
    float: left;
}
.fb{
    width: 8vw;
    height:8vw;
    margin-left:20px;
    float:left ;
    margin-top: 3vh;
    border-radius: 20px;
}
.insta{
    width:8vw;
    height:8vw;
    margin-right:20px;
    float:right;
    margin-top: 3vh;
    
}
.box2{
    width: 70vw;
    height:75px;
    background-color:rgb(0, 176, 240);
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;
    top:25px

}
b{
    color:yellow;
}
.container{
    width: 100vw;
    height:100vh;
}
.text-thongtin{
    position:relative;
    top: 20px;
    left: 2vw;
    width: 70vh;
    float:left;

}
.gach{
    width: 66vw;
    height:0.5px;
    margin-right:2vw;
    background-color:black;
    float:right;
}
.thongtin{
    float:left;
    margin-left:2vw;
    font-size:18px;
    margin-top: 5px;

}
.text-sothich{
    position:relative;
    top: 5px;
    left: 2vw;
    width: 70vh;
    float:left;
    margin:0px 0px 4px;
}
.text-bongro{
    float:left;
    margin-left:5%;
    font-size:18px;
    
    text-align: center;
    width: 150px;
    
}
.bong-ro{
    height:300px;
    width: 150px;
    float:left;
    margin-left:2vw;
    
}
.end{
    height:20vh;
    background-color:purple;
    width: 100vw;
}
.designed{
    height:10px;
    width:300px;
}